.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 4px;

    .link {
        display: flex;
    }

    .logo {
        height: 32px;
        padding: 4px;
        will-change: filter;
        transition: filter 300ms;
        align-self: center;

        &:hover {
            filter: drop-shadow(0 0 16px #646cffaa);
        }

        &.react:hover {
            filter: drop-shadow(0 0 16px #61dafbaa);
        }
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo.react {
        animation: logo-spin infinite 20s linear;
    }
}

