.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    border-bottom: #888888 solid 1px;
}

.header__logo {
    display: flex;
    align-self: center;
    justify-self: flex-start;

    .logo {
        height: 64px;
        aspect-ratio: 1;
    }
}
